combo/blur
combo/bin/*
io/blur
io/bin/*
mpi/blur
mpi/bin/*
openmp/blur
openmp/bin/*
pthreads/blur
pthreads/bin/*
serial/blur
serial/bin/*
test/output/*
.idea/*
CMakeLists.txt
cmake-build-debug/*
openmp+io/blur
openmp+io/bin/*
openmp+io/.idea/*
openmp+io/cmake-build-debug/*
